# Repaso: Pandas

1. ¿Cuál es la diferencia entre loc e iloc?
2. ¿Qué hacen describe, info y shape? 
3. ¿Cómo se relacionan unique y value_counts?
4. ¿Cuál es la diferencia entre concat, append y merge?
5. ¿Cuál es la diferencia entre apply y applymap?

In [1]:
import pandas as pd

In [2]:
data_dic = {"Jurisdiccion":["CABA","Buenos Aires","Catamarca","Chaco","Chubut","Córdoba","Jujuy","Mendoza","Misiones","Río Negro","Santa Cruz",
                           "Santa Fe"],"Poblacion":[2890151,15625084,367828,1055259,99633,3308876,673307,1738929,
                                                   1101593,638645,273964,3194537],"Superficie":
           [200,307521,102606,99633,509108,165321,53219,148827,29801,203013,243943,133007]}

In [3]:
# Creamos el DataFrame
data_pandas = pd.DataFrame(data_dic)
data_pandas

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut      99633      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007

# 1. ¿Cuál es la diferencia entre loc e iloc?

In [4]:
data_pandas.loc[12] = ['Salta',1214441,155488]
data_pandas

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut      99633      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007
12         Salta    1214441      155488

> __Respuesta:__ TODO

# 2. ¿Qué hacen describe, info y shape?

## Describe:

In [5]:
data_pandas.describe()

          Poblacion     Superficie
count  1.300000e+01      13.000000
mean   2.475557e+06  165514.384615
std    4.101710e+06  133501.077862
min    9.963300e+04     200.000000
25%    6.386450e+05   99633.000000
50%    1.101593e+06  148827.000000
75%    2.890151e+06  203013.000000
max    1.562508e+07  509108.000000

> __Respuesta:__ TODO

## Info:

In [6]:
data_pandas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 12
Data columns (total 3 columns):
Jurisdiccion    13 non-null object
Poblacion       13 non-null int64
Superficie      13 non-null int64
dtypes: int64(2), object(1)
memory usage: 416.0+ bytes

> __Respuesta:__ TODO

## Shape:

In [7]:
data_pandas.shape

(13, 3)

> __Respuesta:__ TODO

# 3. ¿Cómo se relacionan unique y value_counts?

## Unique:

In [8]:
data_pandas.Jurisdiccion.unique()

array(['CABA', 'Buenos Aires', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba',
       'Jujuy', 'Mendoza', 'Misiones', 'Río Negro', 'Santa Cruz',
       'Santa Fe', 'Salta'], dtype=object)

## Value_counts:

In [9]:
data_pandas.Jurisdiccion.value_counts()

Chaco           1
CABA            1
Santa Fe        1
Misiones        1
Buenos Aires    1
Catamarca       1
Chubut          1
Salta           1
Santa Cruz      1
Jujuy           1
Río Negro       1
Córdoba         1
Mendoza         1
Name: Jurisdiccion, dtype: int64

> __Respuesta:__ TODO

# 4. ¿Cuál es la diferencia entre concat, append y merge?

## Concat:

In [10]:
df = pd.DataFrame([['San Juan',681055,89651]], columns=['Jurisdiccion','Poblacion','Superficie'])
df

  Jurisdiccion  Poblacion  Superficie
0     San Juan     681055       89651

In [11]:
concatenado = pd.concat([data_pandas, df], axis=0, ignore_index=True)
concatenado

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut      99633      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007
12         Salta    1214441      155488
13      San Juan     681055       89651

## Append:

In [12]:
df2 = pd.DataFrame([['San Luis',432310,76748]], columns=['Jurisdiccion','Poblacion','Superficie'])
df2

  Jurisdiccion  Poblacion  Superficie
0     San Luis     432310       76748

In [13]:
agregado = concatenado.append(df2, ignore_index=True)
agregado

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut      99633      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007
12         Salta    1214441      155488
13      San Juan     681055       89651
14      San Luis     432310       76748

## Merge:

In [14]:
df3 = pd.DataFrame([['Santiago del Estero',874006,136351]], columns=['Jurisdiccion','Poblacion','Superficie'])
df3

          Jurisdiccion  Poblacion  Superficie
0  Santiago del Estero     874006      136351

In [15]:
mergeado = agregado.merge(df3, on=['Jurisdiccion', 'Poblacion', 'Superficie'], how='outer')
mergeado

           Jurisdiccion  Poblacion  Superficie
0                  CABA    2890151         200
1          Buenos Aires   15625084      307521
2             Catamarca     367828      102606
3                 Chaco    1055259       99633
4                Chubut      99633      509108
5               Córdoba    3308876      165321
6                 Jujuy     673307       53219
7               Mendoza    1738929      148827
8              Misiones    1101593       29801
9             Río Negro     638645      203013
10           Santa Cruz     273964      243943
11             Santa Fe    3194537      133007
12                Salta    1214441      155488
13             San Juan     681055       89651
14             San Luis     432310       76748
15  Santiago del Estero     874006      136351

> __Respuesta:__ TODO

# 5. ¿Cuál es la diferencia entre apply y applymap?

## Apply:

In [16]:
mergeado.Jurisdiccion.apply(len)

0      4
1     12
2      9
3      5
4      6
5      7
6      5
7      7
8      8
9      9
10    10
11     8
12     5
13     8
14     8
15    19
Name: Jurisdiccion, dtype: int64

## Applymap:

In [17]:
mergeado.applymap(lambda x: len(str(x)))

    Jurisdiccion  Poblacion  Superficie
0              4          7           3
1             12          8           6
2              9          6           6
3              5          7           5
4              6          5           6
5              7          7           6
6              5          6           5
7              7          7           6
8              8          7           5
9              9          6           6
10            10          6           6
11             8          7           6
12             5          7           6
13             8          6           5
14             8          6           5
15            19          6           6

> __Respuesta:__ TODO