In [1]:
import numpy as np
import pandas as pd

### 1) SOLUCIONAR EL ERROR PARA QUE DEVUELVA array([[8]])

In [2]:
A = np.array([[2,4,6]])
Y = np.array([[1,0,1]])
np.dot(Y,A.transpose())

array([[8]])

### 2) PARA EL SIGUIENTE PUNTO ENCUENTREN EL ERROR Y COMENTENLO EN LA RESPUESTA
### SI LO QUIEREN ARREGLAR.... VAN A TENER QUE GOOGLE BASTANTE ;)

<b style='color:blue'>RESPUESTA:</b>

In [18]:
df = pd.read_csv('libro1.csv', sep=',', error_bad_lines=False)
df

b'Skipping line 7: expected 4 fields, saw 5\n'

   col 1  col 2  col 3  col 4
0      1      2      3      4
1      1      2      3      4
2      1      2      3      4
3      1      2      3      4
4      1      2      3      4
5      1      2      3      4
6      1      2      3      4

### 3) ARREGLAR EL FORMATO DEL DF

In [19]:
df2 = pd.read_csv('username.csv', delimiter=';')

In [20]:
df2.head()

    Username  Identifier First name Last name
0   booker12        9012     Rachel    Booker
1     grey07        2070      Laura      Grey
2  johnson81        \xc7      Craig   Johnson
3  jenkins46        9346       Mary   Jenkins
4    smith79        5079      Jamie     Smith

### 4) ¿CUAL ES EL PROBLEMA?
### ¿EXISTE ALGUNA LIBRERIA QUE ME AYUDE?

In [21]:
df3 = pd.read_csv('libro2.csv', encoding='latin1')

### 5) EL SIGUIENTE CÓDIGO VA A GUARDAR EN AL VARIABLE INICIO EL TIEMPO EXACTO EN QUE SE CREO ESA VARIABLE, VA A ESPERAR 5 SEGUNDOS Y EN FIN LO MISMO, LUEGO LA VARIABLE RESTA  VA A GUARDAR LA RESTA ENTRE LA VARIABLE FIN Y LA VARIABLE INICIO. <br>SOLUCIONAR EL ERROR

In [22]:
import time
inicio_tiempo = time.time()
time.sleep(5)
fin_tiempo = time.time()

In [23]:
inicio_tiempo

1573702498.6081743

In [24]:
fin_tiempo

1573702503.6088202

In [25]:
resta = fin_tiempo - inicio_tiempo

In [26]:
resta

5.000645875930786

### 6) SOLUCIONAR ESTE PROBLEMA DE SHAPE

In [41]:
a = np.zeros((10, 2))
b = a
c = b.view()
print(c.flags.f_contiguous)
c.shape = (20)
print(c)

False
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]